*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
background:#f7fff7;
}

/* Navbar */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#288f4e;
color:white;
position:sticky;
top:0;
z-index:100;
}

.logo{
font-size:24px;
font-weight:bold;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:500;
}

nav a:hover{
color:#ffd600;
}

/* Hero */
.hero{
height:85vh;
background:linear-gradient(to right,#215d24,#2f784a);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:white;
padding:20px;
}

.hero h1{
font-size:50px;
}

.hero p{
font-size:20px;
margin:15px 0;
}

.btn{
background:#ff6600;
color:#333;
padding:12px 28px;
border-radius:25px;
text-decoration:none;
border:none;
font-weight:600;
cursor:pointer;
}

/* Features */
.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:40px;
background:white;
}

.features div{
background:#8dd493;
padding:20px;
text-align:center;
border-radius:12px;
font-weight:600;
}

/* Categories */
.categories{
padding:60px 40px;
text-align:center;
}

.cat-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
margin-top:30px;
}

.cat{
background:rgb(122, 208, 168);
padding:25px;
border-radius:14px;
box-shadow:0 4px 15px rgba(5, 66, 35, 0.1);
transition:0.3s;
cursor:pointer;
}

.cat:hover{
transform:translateY(-8px);
background:#c8e6c9;
}

/* Products */
.products{
padding:60px 40px;
text-align:center;
}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:25px;
margin-top:30px;
}

.product-card{
background:white;
border-radius:14px;
overflow:hidden;
box-shadow:0 4px 18px rgba(0,0,0,0.1);
transition:0.3s;
}

.product-card:hover{
transform:translateY(-8px);
}

.product-card img{
width:100%;
height:180px;
object-fit:cover;
}

.product-card h3{
margin:12px 0 5px;
}

.product-card p{
color:#388e3c;
font-weight:600;
}

.product-card button{
margin:12px 0 15px;
background:#0b5f2a;
color:white;
border:none;
padding:10px 22px;
border-radius:20px;
cursor:pointer;
}

/* Cart */
.cart{
padding:80px 20px;
text-align:center;
}

/* Contact */
.contact{
padding:60px 20px;
text-align:center;
}

.contact form{
max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

.contact input, .contact textarea{
padding:12px;
border-radius:8px;
border:1px solid #ccc;
}

/* Footer */
footer{
background:#0c3f1f;
color:rgba(255, 255, 255, 0.966);
text-align:center;
padding:15px;
margin-top:40px;
}

/* Responsive */
@media(max-width:768px){
.hero h1{font-size:36px;}
.navbar{flex-direction:column;}
nav{margin-top:10px;}
}
